<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Why is sociality between students and professors important?</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->


                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
                <div class="panel panel-default">
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <ul class="timeline">
                            <li>
                                <div class="timeline-badge"><i class="fa fa-question-circle"></i>
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title">What are main benefits?</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p>There are a lot of benefits when "networking" is called. we are going to say few of them.</p>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-inverted">
                                <div class="timeline-badge warning"><i class="fa fa-medkit"></i>
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title">Socializing and Enriching Acquaintances</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p>first of all it is not healthy to live alone, and when you have company it is easier. Specifically on this page, socializing helps and strengthens student learning and also giving professors a better picture of how to approach their students. It is also very important to spread the knowledge, because you never know where your life opportunity lies.</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="timeline-badge danger"><i class="fa fa-users  "></i>
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title">Easier learning</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p>However you turn it is easier to learn with someone than alone, although there are a lot of people who like to learn on their own, but when you come to a learning problem, why spend all day on the same problem when a colleague can explain it to you in 5 minutes.</p>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-inverted">
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title">Easier notification of events and simullar</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p>Have you probably had cases where you found out late for a seminar or event? You can easily get such information here, if 1 student informs it immediately, everyone will know who is interested in that category.</p>
                                    </div>
                                </div>
                            </li>
                            
                            <li class="timeline-inverted">
                                <div class="timeline-badge success"><i class="fa fa-heart"></i>
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title">Corner for professors</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p>Every professor grew up in a different time, and it is a little difficult for him to get used to the modern age, this is a great opportunity for professors to improve their learning and socializing skills with students and adapt to the modern age.</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-8 -->
            
            <!-- /.col-lg-4 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->
